{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center mb-3">
            <img src="{{ asset('images/header-image.png') }}" class="img-fluid" alt="Project Image">
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="p-3 border bg-light fw-semibold text-center">
                    Thank you for considering my application for the Sr. Engineer role on the Digital Guest Experience (DGE) Loyalty Management System (LMS) Team. I appreciate the opportunity to showcase my skills through the coding project assignment you have provided. I am excited about the chance to contribute to your team and look forward to demonstrating my capabilities. Thank you again for this opportunity, and I look forward to the possibility of joining Brinker.
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-stretch mt-4">
            <div class="col-12 col-md-6 d-flex text-center mb-4 mb-md-0">
                <div class="p-3 w-100 bg-light border">
                    <img src="{{ asset('images/login-image.png') }}" class="img-fluid mb-4" alt="Login Image">
                    <a class="btn btn-success fw-semibold mt-auto" href="{{ path('app_login') }}">I Already Have An Account</a>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex text-center">
                <div class="p-3 w-100 bg-light border">
                    <img src="{{ asset('images/registration-image.png') }}" class="img-fluid mb-4" alt="Registration Image">
                    <a class="btn btn-primary fw-semibold mt-auto" href="{{ path('app_register') }}">I Need To Register</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
